layout {

    focus-ring {
        active-color "#b6c5f7"
        inactive-color "#131316"
        urgent-color "#ffb4ab"
    }

    border {
        active-color "#b6c5f7"
        inactive-color "#131316"
        urgent-color "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color "#b6c5f7"
        inactive-color "#102149"
        urgent-color "#ffb4ab"
    }

    insert-hint {
        color "#b6c5f780"
    }
}

recent-windows {
    highlight {
        active-color "#b6c5f7"
        urgent-color "#ffb4ab"
    }
}
