layout {

    focus-ring {
        active-color   "#cdc7a4"
        inactive-color "#141311"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#cdc7a4"
        inactive-color "#141311"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#cdc7a4"
        inactive-color "#3d3a20"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#cdc7a480"
    }
}

recent-windows {
    highlight {
        active-color "#cdc7a4"
        urgent-color "#ffb4ab"
    }
}
