binds {
    Mod+T { spawn "kitty"; }
    Mod+B { spawn "helium-browser"; }
    Mod+D { spawn "zed"; }
    Mod+E { spawn-sh "kitty yazi"; }
    Mod+Shift+E { spawn "nautilus"; }
    Mod+Shift+R { spawn "bash" "-c" "niri msg action load-config-file && notify-send -e -a 'Niri' -i 'preferences-desktop' 'Niri Configuration' 'Reloaded successfully'"; }

    // Noctalia UI Trigger
    Mod+Space { spawn "noctalia" "msg" "panel-toggle" "launcher"; }

    Mod+V { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }

    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPause allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMute allow-when-locked=true { spawn "noctalia" "msg" "volume-mute"; }
    XF86AudioMicMute allow-when-locked=true { spawn "noctalia" "msg" "mic-mute"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia" "msg" "brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia" "msg" "brightness-down"; }

    Mod+P { spawn "bash" "-c" "grim" "-g" "$(slurp -c '#00000040')" "-t" "ppm" "-" "|" "satty" "--filename" "-" "--fullscreen" "--output-filename" "~/Pictures/satty-$(date" "+%Y%m%d-%H%M%S).png"; }
    Mod+Ctrl+P { spawn "bash" "-c" "grim -g \"$(slurp -c '#00000040')\" -t ppm - | satty --filename - --fullscreen --output-filename ~/Pictures/satty-$(date '+%Y%m%d-%H%M%S').png"; }

    Mod+N { spawn "noctalia" "msg" "notifications" "toggleHistory"; }

    Mod+Q { close-window; }
    Mod+S { switch-preset-column-width; }
    Mod+M { maximize-column; }
    Mod+F { fullscreen-window; }

    Alt+Tab { focus-window-previous; }

    Mod+Left { spawn-sh "niri msg action move-column-left; niri msg action set-column-width 50%"; }
    Mod+Right { spawn-sh "niri msg action move-column-right; niri msg action set-column-width 50%"; }
    Mod+Up { spawn-sh "niri msg action move-window-up; niri msg action set-window-height 50%"; }
    Mod+Down { spawn-sh "niri msg action move-window-down; niri msg action set-window-height 50%"; }
    Mod+Ctrl+Left { focus-column-left; }
    Mod+Ctrl+Right { focus-column-right; }

    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Right { move-column-right; }

    Mod+Ctrl+Up { focus-workspace-up; }
    Mod+Ctrl+Down { focus-workspace-down; }
    Mod+Shift+Up { move-window-to-workspace-up; }
    Mod+Shift+Down { move-window-to-workspace-down; }
    Mod+Shift+S { spawn "bash" "-c" "grim" "-g" "$(slurp -c '#00000040')" "-t" "ppm" "-" "|" "satty" "--filename" "-" "--fullscreen" "--output-filename" "~/Pictures/satty-$(date" "+%Y%m%d-%H%M%S).png"; }
}
