@import 'colors.css';
@import url("noctalia.css");

/* Make headerbar/titlebar/navigation-bar transparent/frosted */
headerbar,
.titlebar,
.navigation-bar {
    background-color: rgba(20, 20, 20, 0.6);
    background-image: none;
    box-shadow: none;
}